.shop {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
}

.cart-container {
    /* height: 100vh; */
    padding: 0 10px;
    background: rgba(255, 153, 0, 0.3);
}