.cart {
    position: sticky;
    top: 0;
}

.cart h2 {
    margin-top: 30px;
    text-align: center;
}

.cart-details {
    margin-left: 10px;
}

.cart button {
    width: 100%;
    margin-top: 12px;
    color: #fff;
    border-color: #fff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart button:nth-of-type(1) {
    background: #FF3030;
}

.cart button:nth-of-type(2) {
    background: #FF9900;
}

.cart button p {
    margin-right: 8px;
}